/**** SMARTPHONE ****/

@media screen and (max-width: 600px) {
	.main-title {
		margin-top: 5vh;
		margin-bottom: 7vh;
	}
	
	.main-title div h1 { 
		margin: 5%; 
	}
	
	h1 { 
		line-height: 0.9; 
		font-size: 3em; /* 64px * 0.8 */
	}
	
	h2 {
		font-size: 2em; /* 48px * 0.8 */
	}
	
	h3 {
		font-size: 1.6em ; /* 32px * 0.8 */
	}

	h4 {
		font-size: 1.4em ; /* 24px * 0.8 */
	}

	p {
		font-size: 1.2em; /* 20px * 0.8 */
	}

	footer {
		height: 135px;
	}

	.text-box p, .text-box h1, .text-box h2, .text-box h3, .text-box h4 {
		text-align: center;
	}
	.text-box div p {
		margin-left: 0;
	}

	.text-with-img div { margin: 2vh }
	.text-with-img img { width: 80% }
}