services:
  frontend:
    build:
      context: ./frontend
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./frontend:/app
      - ./certs/frontend.crt.:/etc/ssl/certs/frontend.crt
      - ./certs/frontend.key.:/etc/ssl/certs/frontend.key