services:
  frontend:
    container_name: frontend-container
    build:
      context: ./frontend
    ports:
      - "8080:80"
      - "8443:443"
    volumes:
      - ./frontend:/app
      - ${SSL_FRONT_CERT}:/app/certs/frontend.crt
      - ${SSL_FRONT_KEY}:/app/certs/frontend.key
    environment:
      - NODE_ENV=production
    restart: unless-stopped