/*COLOR PALETTE

    Light: #f1efdf
    Dark: #040302
    Primary Button: #a6deca 
    Secondary Button: #f1c8c6
    Accent: #9ca1c9

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Calistoga;
    color: /*#fdf0d2;*/ #040302;
    text-align: center;
    text-decoration: none;
}

body {
    background-color: #f1efdf;
    font-family: Calistoga;
    height: 100vh;
    line-height: 1.5;
}

div{
    padding: 20px;
    
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 1.7em ;
}

p {
    font-size: 1em;
    margin: 10px;
}

.container{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.animated-color {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #a8c0ff, #ffb3ce, #ffddc1, #d4ffb3, #b3f8ff, #a8c0ff, #ffb3ce);
    background-size: 600% 100%;
    animation: animatedBackground 10s linear infinite;
}
  
@keyframes animatedBackground {
    0% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
  
.animated-text {
    font-size: 3.5rem;
    background-image: 
    linear-gradient(to right, #a8c0ff, #ffb3ce, #ffddc1, #d4ffb3, #b3f8ff, #a8c0ff); 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    animation: animatedText 60s linear infinite;
}
  
@keyframes animatedText  {
    to {
        background-position: 4500vh;
    }
}


.discreet-text{
    font-size: 0.7em;
}


.section-right {
    justify-content: right;
    text-align: right;
    color: #f1efdf;
    background-color: #a6deca;
}

.section-ltr, .section-rtl {
    height: 15vh;
}
.section-ltr {
    background: linear-gradient(to top, #a6deca, #f1efdf);
}

.section-rtl {
    background: linear-gradient(to top, #f1efdf, #a6deca);
}

.me_irl{
    transition: ease-in-out 0.5s;
}

.me_irl:hover {
    transform: scale(1.5);    
    transition: ease-in-out 0.5s;
}