/*COLOR PALETTE

PEACH -
light FDF0D2 // + FDF4DD
dark FFD899 // + FACB7F

PURPLE -
light C8B9CA
dark 927396

LIGHT BLUE -
light ABD8D8
dark 4DA8A8

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Calistoga;
    color: /*#fdf0d2;*/ #FACB7F
}

body {
    background-color: #fdf0d2;
    font-family: Calsitoga, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    margin: 50px;
}

h1 {
    font-size: 3.5em;
    color: #FACB7F;
}

h2 {
    font-size: 2.5em;
    
}

h3 {
    font-size: 1.8em ;
}

p {
    font-family: Calistoga;
    font-size: 1.5em;
    margin: 10px;
}

.discreet-text{
    font-size: 0.7em;
    color: #66666696;
}

/*HOMEPAGE ONLY*/

.hmpg {
    margin: 0;
}

.my-name {
    color: #4DA8A8;
    font-family: Calistoga;
    font-size: 1.4em;
}
.my-name:hover {
    color: #927396;
}

.home-header {
    background-color: #fdf0d2; /*#534E44*/
    font-size: 1.7vh;
    line-height: 300%;
    
    padding: 3vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    border-bottom-left-radius: 50% 30%;
    border-bottom-right-radius: 50% 30%;
}

.container {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.home-friend, .home-employer {
    height: 100%;
    flex: 1;
    transition: transform 0.2s ease-in-out;
    padding : 0px;
    margin: 0;
}

.home-friend a, .home-employer a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;    
}


.home-friend:hover, .home-employer:hover {
    transform: scale(1.1);
}

.home-friend {
    background-color: #C8B9CA; /*#927396;*/
}

.home-friend a{
    color: /*#C8B9CA;*/ #927396;
}

.home-employer {
    background-color: #ABD8D8 /*#4DA8A8;*/
}

.home-employer a{
    color: /*#ABD8D8;*/ #4DA8A8;
}